.row {
  color: #fff;
  margin-left: 20px;
  padding-bottom: 80px;
}

.row_posters {
  display: flex;
  gap: 10px;
  overflow-y: auto;
  overflow-x: auto;
  padding: 20px;
}

/* Scroll 2 */
.sc2::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.sc2::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.sc2::-webkit-scrollbar-thumb {
  /* background-color: #11171a; */
  background-color: #5c5c5c;
  border-radius: 10px;
}
